.card-body {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.example-card {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card-title {
  text-align: center;
}

.cardStyle{
  text-align: center;
}
